<div class="text">
  <span>BIENVENIDO A MI CURRICULUM VITAE</span> <br>

  <span class="text2">BY: MILER ARNEZ PONCE</span> 
</div>
<video muted autoplay loop>
  <source src="assets/video/video.mp4"
  type="video/mp4">
</video>

