* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #2b2c2e;
  position: fixed;
  height: 100%;
  /*Adiciona un scroll cuando es necesario*/
  overflow: auto;
}


.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
}

/*No cambiar el color cuando se utiliza la clase active*/
.sidebar a:hover:not(.active) {
  background-color: rgb(64, 65, 66);
  color: white;
}

.active {
  background-color: #2664e9;
  color: White !important;
}

img{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 55%;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  font-weight: bold;
  color:rgb(224, 181, 37);
}

