.container{
  width: 100%;
  margin-left: 4%;
}

h1{
  font-weight: bold;
  color: rgb(34, 120, 233);
  margin-top: 50px;
  margin-left: 7px;
}

b{
  color: black;
}

.infor{
  margin-bottom: 50px;
}


