<div class="container">
<h1><u>DATOS GENERALES</u></h1>
<img src="assets/img/miler.jpg" alt="Miler Arnez Ponce">

<div class="text">
  <h2>> Lugar y Fecha de Nacimiento: <b> Punata - 22 de Enero del 2000</b></h2> 
  <h2>> Dirección: <b>Pacata Alta - Villa Esperanza</b> </h2> 
  <h2>> Numero de cédula de identidad: <b>7911041</b> </h2> 
  <h2>> Email: <b>miller4290@hotmail.com</b> </h2> 
  <h2>> Estado Civil: <b>Soltero</b> </h2> 
  <h2>> Ciudad: <b>Cochabamba</b> </h2> 
  <h2>> Celular: <b>+591 76469149</b> </h2> 
</div>

  <div class="hab">
    <h1><u>HABILIDADES</u></h1>
    <div class="container-1">
      <img src="assets/img/html.png" class="logos">
      <h5> <b class="text-1"></b></h5>
      <b class="text-2">HTML 100%</b><mat-progress-bar mode="determinate" value="100" ></mat-progress-bar>
    </div>
    <img src="assets/img/css.png" class="logos">
    <h5> <b class="text-1"> </b></h5>
    <b class="text-2"> CSS 90%</b><mat-progress-bar mode="determinate" value="90" ></mat-progress-bar>
    <img src="assets/img/js.png" class="logos">
    <h5> <b class="text-1"></b></h5>
    <b  class="text-2"> JAVASCRIPT 75%</b><mat-progress-bar mode="determinate" value="75" ></mat-progress-bar>
  </div>

  <div class="hab2">
    <img src="assets/img/angular.png" class="logos">
    <h5> <b class="text-1"> </b></h5>
    <b class="text-2"> ANGULAR 75%</b><mat-progress-bar mode="determinate" value="75" ></mat-progress-bar>
    <img src="assets/img/bootstrap.png" class="logos">
    <h5> <b class="text-1"></b></h5>
    <b class="text-2"> BOOTSTRAP 75%</b><mat-progress-bar mode="determinate" value="75" ></mat-progress-bar>
    
  </div>
</div>




